@charset "utf-8";

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: Calibri;
    position: fixed;
    background-color: #000000;
}

.animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: bebas kai;
    font-size: 70px;
    color: #ffffff;
    line-height: 80px;
    letter-spacing: 30px;
    width: 500px;
    background-color: rgba(14, 58, 122, 0.815);
    animation: words-animation ease 3s;
}

.animation span {
    margin: 20px;
}

.animation:before {
    content: '';
    position: absolute;
    left: 1100%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparant 0%, #000000 10%, #000000 100%);
    animation: hide 5s linear forwards;
}

@keyframes words-animation {
    0% {
        left: 10%;
        letter-spacing: 600px;
        background: none;
    }

    70% {
        background: none;
        letter-spacing: 30px;
        left: 30%;
    }

    80% {
        width: 0px;
        background-color: rgba(14, 58, 122, 0.815);
    }

    90% {
        width: 500px;
    }
}

@keyframes hide {
    0% {
        background: linear-gradient(90deg, transparant 0%, #000000 0%, #000000 100%);
    }

    80% {
        left: 110%;
    }

    100% {
        left: -20%;
    }
}