@charset "utf-8";
html,
body {
    position: relative;
    height: 100%;
    background: black;
}

body {
    background: rgb(6, 66, 101);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 300px;
    height: 300px;
    transform: translate(10%, 90%);
    margin-left: 0px;
    margin-top: 0px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    background: aqua;
}

.swiper-slide h2 {
    display: block;
    color: rgb(6, 66, 101);
    font-size: 30px;
    position: absolute;

    width: 100%;
    top :30%;
    display: flex;
    justify-content: center;
    
    font-weight: 10;
    letter-spacing: 0.1cm;
}

/* .swiper-slide img {
display: block;
width: 100%;
} */


/*
>>> this region old rotation
*/
/* body {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    perspective: 20em;
    perspective-origin: 77px 100px ;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100px;
}

.box-text
{
    position: absolute;
    top : 10%;
    left: 40%;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-text h2
{
    color: #fff;
    position: relative;
    left :-40%;
    font-weight: 400;
    letter-spacing: 0.2cm;
    text-shadow:0 0 10px #15f4ee,
                0 0 20px #15f4ee,
                0 0 40px #15f4ee,
                0 0 80px #15f4ee,
                0 0 120px #15f4ee;
}

.parent-cube
{
    position: relative;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animateCube 15s linear infinite;
}

@keyframes animateCube {
    to{
        transform: rotateY(360deg);
    }
}

.shadow-cube{
    position: absolute;
    background: aqua;
    width: 2em;
    height: 2em;
   transform:translateZ(-130px)
    rotateX(90deg) rotateZ(3deg);
    bottom: 0em;  left: 4em;
    box-shadow: 0 120px 100px 10px blue , 
                50px 120px 200px 10px blue  ;
    filter: blur(100px);
 }

.top-cube, .bottom-cube, .left-cube, .right-cube, .front-cube, .back-cube
{
    height: 2em;
    width: 2em;
    background: aqua;
    position: absolute;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 50px 10px  blue  inset,
          0 0 0 2em aqua inset ;
}

.front-cube
{
    transform: translateZ(1em);
}

.back-cube
{
    transform: translatez(-1em);
}

.top-cube 
{
    transform: translateY(-1em) rotateX(90deg);
}

.bottom-cube
{
    transform: translateY(1em) rotateX(90deg);
}

.right-cube
{
    transform: translateX(1em) rotateY(90deg);
}

.left-cube
{
    transform: translateX(-1em) rotateY(90deg);
}

.front-cube h2
{
    color: #fff;
    font-size: 30px;
    position: absolute;
    top :30%;
    left :20%;
    
    font-weight: 10;
    letter-spacing: 0.1cm;
}

.back-cube h2
{
    color: #fff;
    font-size: 30px;
    position: absolute;
    top :30%;
    left :35%;
    
    font-weight: 10;
    letter-spacing: 0.1cm;

    transform: rotateY(180deg);
}

.right-cube h2
{
    color: #fff;
    font-size: 30px;
    position: absolute;
    top :30%;
    left :20%;
    
    font-weight: 10;
    letter-spacing: 0.1cm;

    transform: rotateY(0deg);
}

.left-cube h2
{
    color: #fff;
    font-size: 30px;
    position: absolute;
    top :30%;
    left :30%;
    
    font-weight: 10;
    letter-spacing: 0.1cm;

    transform: rotateY(180deg);
} */

/*
  >>> this oldest css
  */
/* .container-line
{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-line .line-load
{
    position: relative;
    height: 150px;
    width: 20px;
    margin: 10px;
    background: linear-gradient(#15f4ee, #a200d4);
    animation: animateCircle 3s linear infinite;
}
.container-line .line-load:nth-child(1)
{
    position: relative;
    top: 0%;
    left: 46%;
}
.container-line .line-load:nth-child(2)
{
    position: relative;
    top: -35%;
    left: 0%;
}
.container-line .line-load:nth-child(3)
{
    position: relative;
    top: 0%;
    left: -46%;
}

@keyframes animateCircle {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(350deg);
    }
} */

/* .explore
{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50);
}

.button-explor
{
    position: relative;
    text-align: center;
    width: 150px;
    padding: 10px;
    font-size: 20px;
    color: #15f4ee;
    font-family: poppins;
    font-weight: 400;
    border: 5px solid #15f4ee;
    text-transform: uppercase;
    letter-spacing: 10px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
}

.button-explor:hover
{
    box-shadow: 0 2px 20px 0 #15f4ee inset, 0 2px 20px 0 #15f4ee, 
    0 2px 20px 0 #15f4ee inset, 0 2px 20px 0 #15f4ee;
} */



/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100px;
  } */





