@charset "utf-8";

/* #17d1ac */

body {
    margin: 0px;
    padding: 0px;
    /* background: linear-gradient(90deg, rgba(2,0,6,1)0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    /* background-color: #000000; */
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgb(0, 49, 68)0%, rgb(8, 95, 146) 35%, rgb(0, 166, 199) 100%);
    /* background: linear-gradient(90deg, rgba(2,0,6,1)0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
}

.w-box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255, 255, 255, 0.8);
}

.w-box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.w-box div:nth-child(2) {
    top: 70%;
    top: 50%;
    animation: animate 7s linear infinite;
}

.w-box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.w-box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.w-box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.w-box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.w-box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 16s linear infinite;
}

.w-box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.w-box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.w-box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.toggle {
    display: none;
}

/* edf1fd */
#main {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    background-image: url("../image/trias.jpg");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 300px 210px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: clibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #dde7ff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.menu {
    display: flex;
}

.menu li a {
    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;
}

.lang {
    color: #292929;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #292929;
    font-family: poppins;
    animation: aye 5s infinite;
}

@keyframes aye {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.menu li a:hover,
.menu li a.active {
    background-color: #292929;
    color: #ffffff;
    font-weight: 700;
    transition: all ease 0.4s;
}

.name {
    font-family: calibri;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-20%, -50%);
}

/* .name p:nth-child(1) {
    color: #ffffff;
    font-size: 16px;
} */

.name .details {
    color: #ffffff;
    font-size: 16px;
}

.name h1 {
    font-family: Poppins;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 3px;
    color: #cafff3;
}

.cv-btn {
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #ffffff;
}

.cv-btn:hover {
    background-color: #131313;
    transition: all ease 0.5s;
}

.social {
    position: absolute;
    left: 50px;
    bottom: 10px;
    display: flex;
}

.social a {
    margin: 6px 12px;
}

.social i {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
}

.social a:hover i {
    color: #5ebfff;
    transition: all ease 0.5s;
}

.arrow {
    align-self: end;
    width: 50%;
    height: 3%;
    margin-bottom: 4em;
    position: absolute;
    bottom: 0px;
    left: -3%;
    border-right: 1px solid rgba(41, 41, 41, 0.3);
}

.arrow::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 3px 0px 3px;
    border-color: #292929 transparent transparent transparent;
    right: -0.22em;
    bottom: -2px;
}

#about {
    width: 130%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
}

.about-text {
    font-family: calibri;
    width: 50%;
}

.about-text h1 {
    font-size: 5rem;
    color: #5ebfff;
}

.about-text h2 {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 400;
}

.about-text h1,
h2 {
    margin:10px;
    padding: 0px;
}

.about-text p {
    font-size: 1.2rem;
    color: rgba(251, 251, 251, 0.90);
}

.about-text button {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #5ebfff;
}

.about-text button:hover {
    color: #ffffff;
    transition: all ease 0.3s;
}

/* #services {
    width: 100%;
    height: 100vh;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.s-heading h1 {
    color: #ffffff;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
}

.s-heading p {
    color: rgba(249, 249, 249, 0.30);
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}

.s-heading {
    text-align: center;
    margin: 20px 0px;
}

.s-box {
    background-color: #2b2b2b;
    width: 350px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 1);
    position: relative;
}

.s-b-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-b-img {
    width: 100%;
    height: 70%;
}

.s-b-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s-b-text {
    width: 100%;
    height: 30%;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-b-text a {
    margin: 0px;
    color: #FFFFFF;
    font-size: 1.1rem;
    font-family: calibri;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.s-type {
    font-family: calibri;
    color: #FFFFFF;
    background-color: #151515;
    padding: 10px 15px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.s-box :hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.s-b-text a:hover {
    color: rgba(255, 255, 255, 0.50);
}

.p-heading {
    font-family: calibri;
    font-size: 1.7rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #292929;
} */


#portofolio {
    width: 100%;
    box-sizing: border-box;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 2% 20px 2%;
}

.p-heading {
    font-family: calibri;
    font-size: 1.7rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.575);
    letter-spacing: 2px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.p-box {
    background-color: rgba(216, 216, 216, 0.9);
    overflow: hidden;
    border-radius: 60px;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0);
    position: relative;
}

.p-b-container {
    width: 80%;
    height: 80vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-gap: 1px;
}

.text-overlay {
    font-family: calibri;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(81, 204, 241, 0.89);
    display: none;
}

.text-overlay h1,
p {
    color: #FFFFFF;
}

.text-overlay h1 {
    font-size: 2.2rem;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
}

.text-overlay p {
    font-size: 1.2rem;
    margin: 0px;
}

.p-box:hover .text-overlay {
    display: flex;
}

.p-box img {
    width: 80%;
    height: 80%;
    /* margin: 0px;
    padding:-200px; */
    object-position: 150px 45px;
    object-fit:scale-down
}

#contact-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color:  rgba(216, 216, 216, 0.9);
    margin: 20px 0px;
    box-sizing: border-box;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.4);
}

#contact-btn h1 {
    font-size: 2rem;
    color: #1e1e1e;
    font-family: calibri;
    margin: 10px;
    padding: 5px;
    letter-spacing: 4px;
    border-bottom: 2px solid #1E1E1E;
}

#contact-btn a {
    color: #FFFFFF;
    font-size: 1rem;
    font-family: calibri;
    width: 150px;
    height: 40px;
    margin: 10px;
    background-color: #1e1e1e;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-btn a:hover {
    background-color: #5ebfff;
    color: #000000;
    transition: all ease 0.5s;
    font-weight: 700;
}

#contact-form {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-form form {
    display: flex;
    width: 70%;
    height: 60vh;
    background-color: #1a1a1a;
    box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.01);
}

.contact-left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-right {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(255, 255, 255, 0.08);
}

.c-l-heading {
    font-family: calibri;
    color: #FFFFFF;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 400;
}

.f-email,
.f-name {
    display: flex;
    flex-direction: column;
    font-family: calibri;
}

.f-email font,
.f-name font {
    color: #bfbfbf;
    font-size: 22px;
}

.f-email input,
.f-name input {
    height: 30px;
    width: 250px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #929292;
    color: #FFFFFF;
    margin: 10px 0px;
}

.f-email input::placeholder,
.f-name input::placeholder {
    opacity: 0.5;
    letter-spacing: 1px;
}

.f-email input:focus,
.f-name input:focus {
    border-bottom: 1px solid #5ebfff;
    transition: all ease 0.5s;
}

.message {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.message font {
    font-size: 18px;
    color: #4e4e4e;
    font-family: calibri;
}

.contact-right textarea {
    width: 100% !important;
    height: 320px !important;
    border: none;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    color: #ebebeb;
    font-size: 16px;
}

.contact-right textarea::placeholder {
    color: #ebebeb;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: calibri;
}

.contact-right button {
    width: 100%;
    height: 50px;
    background-color: #5ebfff;
    font-weight: bold;
    outline: none;
    border: none;
    margin: 0px;
    color: #1b1b1b;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media(max-width:2000px) {
    #main {
        background-size: 200px;
        background-position: 420px 230px;
    }
    .name {
        left: 50%;
        top: 50%;
        transform: translate(-25%, -50%);
    }

}


@media(max-width:1190px) {
    #main {
        background-size: 200px;
        background-position: 300px 210px;
        /* transform: translate(-50%, -50%); */
    }

    .name {
        left: 50%;
        top: 50%;
        transform: translate(-10%, -50%);
    }

    .about-model img {
        height: 400px;
    }

    /* #services {
        height: auto;
    } */

    .s-b-container {
        flex-wrap: wrap;
    }

    .s-box {
        flex-grow: 1;
    }

    .s-b-text {
        text-align: center;
    }

    #contact-form {
        width: 95% i !important;
    }
}

@media(max-width:930) {
    #main {
        background-size: 200px;
        background-position: 300px 210px;
    }

    .about-model {
        display: none;
    }

    #about {
        justify-content: center;
        padding-top: 0px;
    }

    .about-text {
        width: 90%;
    }

    .about-text h1 {
        font-size: 4rem;
    }

    .p-b-container {
        width: 100%;
    }

}

@media(max-width:900px) {
    #main {
        background-size: 200px;
        background-position: 300px 210px;
    }
    .name {
        left: 10%;
        top: 50%;
        transform: translate(-10%, -50%);
        width: 100px;
    }
    .toggle {
        display: block;
    }

    .toggle::before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 0px;
        margin-left: -35px
    }

    .toggle.active:before {
        content: '\f00d';
    }

    nav {
        padding: 10px 30px;
    }

    nav ul {
        position: absolute;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        background-color: #0f0f0f;
        top: 45px;
        left: o;
        transition: 0.5s;
        overflow: hidden;
        border: 3px solid #1f1f1f;
        display: none !important;
        margin: 0px;
        padding: 0px;
    }

    nav ul li a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px !important;
        padding: 0px !important;
    }

    .active-menu {
        display: block !important;
    }

    .p-b-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        height: auto;
        grid-gap: 10px;
    }

    #contact-button h1 {
        font-size: 1.4rem;
        text-align: center;
    }

    #contact-form {
        padding: 20px;
        height: auto;
        box-sizing: border-box;
    }

    #contact-form form {
        flex-direction: column;
        height: auto;
        padding: 20px;
        width: 90% !important;
    }

    .contact-left,
    .contact-right {
        width: 100%;
        border: none;
    }

    .f-email,
    .f-name {
        width: 100px;
    }

    .f-email input,
    .f-name input {
        width: 100%;
        border: none;
        background-color: #262626 !important;
        padding: 10px;
        box-sizing: border-box;
        height: 40px;
    }

    textarea {
        background-color: #262626 !important;
        margin: 10px 0px;
        padding: 10px;
        height: 200px !important;
        width: 100% !important;
    }

    .message {
        margin: 0px;
    }

    #contact-form form h1 {
        margin: 5px 0px;
    }
}

@media(max-width:600px) {
    .p-b-container {
        grid-template-columns: 1fr;
    }

    #contact-btn h1 {
        font-size: 1.2rem;
        margin: 0px 10%;
    }

    .name {
        width: 60%;
    }

    .arrow {
        margin-bottom: 20px;
    }

    .social {
        left: 50px;
        transform: translateX(-10px);
    }
}

@media(max-width:400px) {
    
    .s-box {
        width: 100%;
        height: 400px;
    }
}


/*1ed98b*/