body{
	background: #0D47A1;
	color: #fff;
	text-align: center;
}
ul{
	padding-left: 540px;
}
li{
	list-style: none;
	float: left;
	padding-left: 20px;
} 
a{
	text-decoration: none;
	list-style: none;
	font-size: 16px;
	font-family: sans-serif;
	color: white;
}
a:hover{
	color: #FFC107;
} 
td{
	text-align: center;
}
i{
	font-size: 30px;
}
b{
	font-size: 30px;
}